@model IEnumerable<LPGCylinderSystem.Models.Booking>

@{
    ViewData["Title"] = "Your Bookings";
}

@if (ViewBag.Error == "Eroor")
{
    <h1>No bookings yet!!!!</h1>
}
else { 
<h1>Your Bookings</h1>
<hr />
<hr />
@foreach (var item in Model) {
<div>
    <h4>Booking</h4>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.Booking_Id)
        </dt>
        <dd class="col-sm-10">
            @item.Booking_Id
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @item.PaymentMethod
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.SubsidyAmount)
        </dt>
        <dd class="col-sm-10">
            @item.SubsidyAmount
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @item.OrderStatus
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.DAC)
        </dt>
        <dd class="col-sm-10">
            @item.DAC
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @item.BookingDate
        </dd>
        <a class="btn btn-dark" style="margin-right:10px" asp-controller="Complaint" asp-action="Index" asp-route-id="@item.Booking_Id">Make Complaint for Booking</a>
        <a class="btn btn-dark" asp-controller="Complaint" asp-action="Resolved" asp-route-id="@item.Booking_Id">Resolved Complaint for Booking</a>
    </dl>
</div>

}

}